<div class="row">
	<div class="col-sm-12 text-ellipsis">
		<button class="btn btn-sm btn-icon btn-rounded btn-default m-r-sm"><i class="fa fa-facebook"></i></button>
		<button class="btn btn-sm btn-icon btn-rounded btn-default m-r-sm"><i class="fa fa-twitter"></i></button>
		<button class="btn btn-sm btn-icon btn-rounded btn-default m-r-sm"><i class="fa fa-tumblr"></i></button>
        <button class="btn btn-sm btn-icon btn-rounded btn-default m-r-sm"><i class="fa fa-google-plus"></i></button>
        <button class="btn btn-sm btn-icon btn-rounded btn-default m-r-sm"><i class="fa fa-pinterest"></i></button>
        <button class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-envelope-o"></i></button>
	</div>
</div>