  <div class="row">
    <div class="col-md-7">
      <div class="row row-sm">
        <div class="col-sm-12">
          <form role="form" name="frmSearch" ng-submit="doSearch()">
            <div class="input-group m-b">
              <div class="input-group-btn dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" > <span ng-bind="currentSelectedCategoryName"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-class="currentSelectedCategoryId === '' ? 'active' : ''"><a ng-click="chooseCategory(null)">All</a></li>
                  <li class="divider"></li>
                  <li ng-repeat="cate in categories" ng-click="chooseCategory(cate.id)" ng-class="currentSelectedCategoryId === cate.id ? 'active' : ''"><a ng-bind="cate.name"></a></li>
                </ul>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" ng-model="searchBy">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-sm-12" ng-repeat="course in courses">
          <div class="card">
            <div class="card-heading">
              <a ng-href="{{'/user/' + ((course.user ? course.user.username : '') | slug) + '/' + course.user.id + '/'}}" class="pull-left w-32 m-r" popover-placement="bottom-left" popover-is-open="canOpenUserPopover(course.id)" uib-popover-template="'popoverUserQuickInfo.html'" ng-mouseover="callOpenUserPopover(true, course.id, course.user.id)" ng-mouseleave="callOpenUserPopover(false, course.id, course.user.id)" popover-popup-delay="200" popover-popup-close-delay="500">
                <img ng-src="{{getUserAvatar(course.user.userContainerName, course.user.avatarFileName)}}" class="w-full img-circle">
              </a>
              <div class="clear">
                <a ng-href="{{'/user/' + ((course.user ? course.user.username : '') | slug) + '/' + course.user.id + '/'}}" class="font-bold" ng-bind="course.user.firstName || course.user.lastName ? course.user.firstName + ' ' + course.user.lastName : course.user.username"></a>
                <span class="text-xs m-l-md font-thin" ng-hide="true">(<span class="text-danger">PRO</span>)</span>
                <div class="text-xxs font-thin text-muted"><strong ng-bind="course.category.name"></strong> - <span am-time-ago="course.created"></span></div>
              </div>
            </div>
            <div class="card-tools" ng-if="!isMyOwnData(course.user.id)">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href ng-click="joinCourse(course.id, course.extra.joined, course.extra.joinedReaction, $event, $index)" ng-bind="course.extra.joined ? 'Leave this course' : 'Join this course'"></a></li>
                    <li><a href ng-click="favorCourse(course.id, course.extra.favored, course.extra.favoredReaction, $index)" ng-bind="course.extra.favored ? 'Remove from favorites' : 'Add to favorites'"></a></li>
                    <li><a href ng-click="openReportModal(course)">Report</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="item">
              <div class="w-full w-auto-xs">
                <div class="box bg-light">
                  <div class="box-col w-sm-c text-center dk v-m">
                    <div class="imgx-thumbnail" image-dimensions>
                      <img ng-src="{{getImage(course.courseContainerName, course.bannerFileName)}}" ng-class="naturalWidth < naturalHeight ? 'portrait' : ''" >
                    </div>
                    <div class="favorite-holder favorite-holder-light" ng-if="course.extra.favored">
                      <i class="mdi-action-grade i-24 text-warning"></i>
                    </div>
                  </div>
                  <div class="box-col">
                    <div class="p-sm">
                      <a ng-href="{{'/course/' + (course.name | slug).toLowerCase() + '/' + course.id + '/'}}" class="font-bold text-ellipsis text-black-dk block" ng-bind="course.name"></a>
                      <div ng-class="course.courseTags.length > 0 ? 'text-fade-light h-2x' : 'text-fade-light h-3x'"><small class="text-muted text-sm" ng-bind="course.description"></small></div>
                      <div class="m-t-xs text-ellipsis" ng-show="course.courseTags.length > 0">
                        <a class="badge bg-black m-r-xs" ng-repeat="courseTag in course.courseTags" ng-href="{{'/search/#/?tag=' + courseTag.tag.name}}" ng-bind="courseTag.tag.name"></a>
                      </div>
                      <div class="m-t-xs">
                        <button class="btn btn-xs btn-default" ng-click="likeCourse(course.id, course.extra.liked, course.extra.likedReaction, $index)"><span class="text-muted"><i ng-class="course.extra.liked ? 'glyphicon glyphicon-heart text-danger' : 'glyphicon glyphicon-heart'"></i> <small ng-bind="course.extra.totalLikes"></small> </span></button>
                        <button class="btn btn-xs btn-default m-l" uib-popover-template="'popoverShare.html'" popover-placement="top"><span class="text-muted"><i class="glyphicon glyphicon-share"></i> <small>Share</small> </span></button>
                        <span ng-hide="true" class="text-muted text-xs pull-right m-l m-t-xs"><i class="glyphicon glyphicon-comment"></i> <small>20</small> </span>
                        <span class="text-muted text-xs pull-right m-l-xs m-t-xs"><i ng-class="course.extra.joined ? 'glyphicon glyphicon-user text-danger' : 'glyphicon glyphicon-user'"></i> <small ng-bind="course.extra.totalJoins"></small> </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="courses.length === 0">
        <div class="col-sm-12">
          <p class="text-muted text-center"> There are no courses.</p>
        </div>
      </div>
      <div class="text-center m-b">
        <button md-ink-ripple type="button" class="md-btn md-raised blue btn-block p-h-md" ng-show="!reachedLast && !isLoadingData" ng-click="nextPage()">
          Load more &nbsp;
          <i ng-hide="!isLoadingData" class="fa fa-circle-o-notch fa-spin text-md text-muted-lt"></i>
        </button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-heading p">
          <h2 class="font-thin">Suggestions/Ads</h2>
        </div>
        <div class="card-divider m-l m-r"></div>
        <div class="card-body p">
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="popoverShare.html">
    <div ng-include="baseUrl + '/views/popover/share.html'"></div>
  </script>
  <script type="text/ng-template" id="popoverUserQuickInfo.html">
    <div ng-include="baseUrl + '/views/popover/user_quick_info.html'"></div>
  </script>